.largura {
  max-width: 800px !important;
  width: 100% !important;
}

.titulo-sacola {
  font-weight: 700;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.largura-minima {
  min-width: 100px;
  max-width: 140px !important;
}

.cor-card {
  background-color: #ffffff;
}