.navbar {
  position: fixed !important;
  z-index: 100;
  background-color: white;
  width: 100vw;
  margin-top: 0 !important;
}

.container{
  margin: 5px 20px;
}

.logo {
  max-width: 120px;
}

.border-color {
  border-color: #333333 !important;
}

.nav-link {
  color: #333333 !important;
}

.navbar-light .container {
  justify-content: space-between;
}

.nav-item {
  text-decoration: none;
  color: #212529;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 7px;

  transition: color 0.2s;
}

.nav-item:hover {
  color: #797979;
}

.bag-in {
  display: none;
}

.navbar-collapse {
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .bag-in {
    display: block;
  }

  .bag-out {
    display: none;
  }

  .navbar-collapse {
    justify-content: flex-end !important;
  }
}