.page-console-banner {
  background-image: url('../../img/banner-console.jpg');
  background-size: cover;
  background-position: center center;
  height: 350px;
}

.branco {
  color: #ffffff !important; 
  text-shadow: 1px 1px 5px #444444;
}
